Add support sha256

Can you add the possibility to support sha256 as the algorithm for the hmac?

the generated OTP was invalit for my organization.

Is there a way we can tell if it should use sha256 or not?

RFC doesn't help much here. It has only SHA1 because that was the baseline of the RFC and the rest were mentioned as "it may happen" but I never met one. I followed RFC-4226, and read RFC-6238 as a "nice reading".

> HOTP: An HMAC-Based One-Time Password Algorithm
>
> 5.2.  Description
> 
>    The HOTP algorithm is based on an increasing counter value and a
>    static symmetric key known only to the token and the validation
>    service.  In order to create the HOTP value, we will use the HMAC-
>    SHA-1 algorithm, as defined in RFC 2104 [BCK2].
> 
>    As the output of the HMAC-SHA-1 calculation is 160 bits, we must
>    truncate this value to something that can be easily entered by a
>    user.
> 
>                    HOTP(K,C) = Truncate(HMAC-SHA-1(K,C))
> 
>    Where:
> 
>      - Truncate represents the function that converts an HMAC-SHA-1
>        value into an HOTP value as defined in Section 5.3.
> 
>    The Key (K), the Counter (C), and Data values are hashed high-order
>    byte first.
> 
>    The HOTP values generated by the HOTP generator are treated as big
>    endian.
> 
> Source: https://www.ietf.org/rfc/rfc4226.txt

Only the RFC-6238 mentions that.

> TOTP: Time-Based One-Time Password Algorithm
> 
> 1.2.  Background
> 
>    As defined in [RFC4226], the HOTP algorithm is based on the
>    HMAC-SHA-1 algorithm (as specified in [RFC2104]) and applied to an
>    increasing counter value representing the message in the HMAC
>    computation.
> 
>    Basically, the output of the HMAC-SHA-1 calculation is truncated to
>    obtain user-friendly values:
> 
>       HOTP(K,C) = Truncate(HMAC-SHA-1(K,C))
> 
>    where Truncate represents the function that can convert an HMAC-SHA-1
>    value into an HOTP value.  K and C represent the shared secret and
>    counter value; see [RFC4226] for detailed definitions.
> 
>    TOTP is the time-based variant of this algorithm, where a value T,
>    derived from a time reference and a time step, replaces the counter C
>    in the HOTP computation.
> 
>    TOTP implementations MAY use HMAC-SHA-256 or HMAC-SHA-512 functions,
>    based on SHA-256 or SHA-512 [SHA2] hash functions, instead of the
>    HMAC-SHA-1 function that has been specified for the HOTP computation
>    in [RFC4226].
> 
> Source: https://www.ietf.org/rfc/rfc6238.txt

If there's no way to detect that, it would mean we have to add an extra flag and store that in the storage file which is already getting bigger and bigger.

I'm not against it, just try to keep the complexity down. I may have to read more, if the whole generation part is unchanged (basically if it's only hashing algo), we can extract that into a function and we can add without too much increased complexity.

No way to get it from the seed, it is a parameter like period, digit and issuer.

I've a commit on my local machine, but I've just see you have work on it.

Just cut a new version, please verify if it works or not and reopen this issue if not.

```
fsh ❯ TOTP_CLI_CREDENTIAL_FILE=/tmp/test-totp-credentials go run . add --algorithm sha256                                                                                                                                                                                    
Namespace: ns                                                                                                                                                                                                                                                                
Account: acc3                                                                                                                                                                                                                                                                
Token: JBSWY3DPEHPK3PXPJBSWY3DPEHPK3PXPJBSWY3DPEHPK3PXP                                                                                                                                                                                                                      
Password: ***

fsh ❯ TOTP_CLI_CREDENTIAL_FILE=/tmp/test-totp-credentials go run . generate ns acc3                                                                                                                                                                                          
Password: ***                                                                                                                                                                                                                                                                
030265

fsh ❯  set -x TOTP_TOKEN JBSWY3DPEHPK3PXPJBSWY3DPEHPK3PXPJBSWY3DPEHPK3PXP

fsh ❯ TOTP_CLI_CREDENTIAL_FILE=/tmp/test-totp-credentials go run . instant --algorithm sha256
717085
```

The tool I used to generate a token and verify 256 TOTP: https://www.token2.com/site/page/token2-totp-toolset-sha256-version

The default is still `SHA1` as it's still the most common algo used.

For longer tokens:
```
fsh ❯ TOTP_CLI_CREDENTIAL_FILE=/tmp/test-totp-credentials go run . instant --algorithm sha256 --length 10 --show-remaining
0783123349 (remaining time: 21s)

fsh ❯ TOTP_CLI_CREDENTIAL_FILE=/tmp/test-totp-credentials go run . instant --algorithm sha512 --length 10 --show-remaining
1485117377 (remaining time: 20s)

fsh ❯ TOTP_CLI_CREDENTIAL_FILE=/tmp/test-totp-credentials go run . instant --algorithm sha1 --length 10 --show-remaining
1669836311 (remaining time: 17s)
```


Thanks it works